fieldset {
    margin-top: 5px;
}

input[type='submit'], input[type='button'] {
    margin-top: 5px;
    margin-bottom: 5px;
}

.left-indent {
    margin-left: 110px;
}

#top_form input {
    padding: 0;
    height: 2em;
}

.label-wrapper {
    margin-top: 5px;
    margin-bottom: 5px;
}

.notice {
    color: red;
}

#top_form .label-wrapper label {
    float: left;
    width: 100px;
    font-weight: bold;
    text-align: right;
}

#top_form input[type='text'], #top_form textarea {
    margin-left: 10px;
    width: 1000px; /*border-style: ridge;*/
    border: 1px solid gray;
}

textarea {
    overflow-y: auto;
}
textarea#recipients {
    height: 30px;
}

textarea#mail_content {
    height: 100px;
}

#bottom_form {
    margin-top: 10px;
    margin-left: 110px;
}

#mail_templates {
    margin-top: 10px;
}

#templates {
    width: 1000px;
}

div.autocomplete {
    margin: 0px;
    padding: 0px;
    width: 250px;
    background: #fff;
    border: 1px solid #888;
    position: absolute;
}

div.autocomplete ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

div.autocomplete ul li.selected {
    background-color: #ffb;
}

div.autocomplete ul li {
    margin: 0;
    padding: 2px;
    height: 32px;
    display: block;
    list-style-type: none;
    cursor: pointer;
}

