<fieldset>
  <legend><%= t("text_ezsummary_email_template") %></legend>
  <div class="left-indent">
    <p><%= t("text_mail_template_desc") %></p>
    <%= select_tag "templates", options_from_collection_for_select(templates, :content, :content), :size => 6 %>
    <input type="button" name="fill_in" value="<%= t('button_fill_in') %>" id="fill_in"/>
  </div>
</fieldset>