<% for journal in journals %>
    <div>
      <h4>
        <%= authored journal.created_on, journal.user, :label => :label_updated_time_by %>
      </h4>
      <ul>
        <% for detail in journal.details %>
            <li><%= show_detail(detail) %></li>
        <% end %>
      </ul>
      <%= textilizable(journal, :notes) unless journal.notes.blank? %>
    </div>
<% end %>